extends layout

block content
  .jgo_board(id='board')
  button(id='black') Black
  button(id='white') White
  button(id='clear') Clear
  script(src='/javascripts/socket.io.min.js')
  script(src='/javascripts/jquery-1.9.1.min.js')
  script(src='/jgo/all-min.js')
  script(src='/javascripts/game.js')
